@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "sans", sans-serif;
  src: url("../public/GentiumBookBasic-Italic.ttf");
}

#main {
    margin: 0;
    padding: 0;
    background-image: url('../public/img/main.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

@media (max-width: 1100px) {
    #main {
      background-size: cover;
  }
}

#criminal {
  margin: 0;
  padding: 0;
  background-image: url('../public/img/criminal.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@media (max-width: 1100px) {
  #criminal {
    background-size: cover;
}
}

#lawyer {
  margin: 0;
  padding: 0;
  background-image: url('../public/img/lawyer.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@media (max-width: 1100px) {
  #lawyer {
    background-size: cover;
}
}

/* Scroll bar */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #E2E8F0;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(234 179 8);
}